div{
    border: 5px solid black;
    width: 500px;
    height: 250px;
    background-color: violet;
    display: flex;
}
.edged{
    border: 5px solid red;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}
.square{
    border: 5px solid wheat;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
}.circle{
    border: 5px solid lightblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
}