div{
    border: 5px solid black;
    width: 500px;
    height: 250px;
    background-color: violet;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}
.edged{
    background-color: royalblue;
    border: 5px solid red;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}
.square{
    background-color: aliceblue;
    border: 5px solid wheat;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
}.circle{
    background-color: aquamarine;
    border: 5px solid lightcoral;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 10px;
}
